@@ -0,0 +1,177 @@
html {
    position: relative;
    min-height: 100%;
}
#logotop{
    max-height:70px;
}
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
    margin-right:4%;
}
input:focus {
    outline:none !important;
}
.form-inline{
    flex-flow: row;
}
.form-control-sm{
    width:80%;
    border: none;
}
.navbar-brand {
    float:none;
    margin-right: 0;
}
.btn-outline-success{
    margin-right: 2%;
}
#navigation{
    background-color: #f8f9fa !important;
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    top: 0;
    align-items: center;
    position: fixed;
    z-index: 1;
}
#navigation ul{
    list-style: none;
}
#navigation ul li{
    float:left;
}
#navigation ul li a{
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    text-decoration: none;
    color:black;
}
#navigation ul li:first-child{
    margin-left: 2%;
    margin-right: 2%;
}
#navigation ul li:nth-child(2){
    margin-left: 2%;
    margin-right: 2%;
}
#navigation ul li:nth-child(3){
    margin-left: 2%;
    margin-right: 2%;
}
#navigation ul li:nth-child(4){
    margin-left: 2%;
    margin-right: 2%;
}
#navigation ul li:last-child{
    margin-left: 2%;
}
#video{
  width: 100%;
  height: 50%;
}
#video video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 12px;
}
.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; /* Set the fixed height of the footer here */
}
.prem_footer{
    background-color: #e2e2e2;
}
.sec_footer{
    background-color: #cccccc;
}
.footerSecText{
    font-size: 0.8em;
}
.modal-login:first-child {
    color: #636363;
    width: 350px;
    float: left;
    margin-left: 23%;
}
.modal-login:last-child {
    color: #636363;
    width: 350px;
    float: left;
    margin-left: 10%;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login .form-control:focus {
    border-color: #212121;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .modal-footer {
    background: #212121;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}
.modal-login .modal-footer a {
    color: white;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #212121;
    outline: none;
}
.modal-backdrop{
    opacity:0.8 !important;
}
.whiteicon{
    color: #D5D5D5;
    text-decoration: none;
    outline: none;
}
a:-webkit-any-link{
    text-decoration:none !important;
}
